{% extends "layouts/product.njk" %}
{% block header %}
  <header class="govuk-header govuk-header--ws" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo govuk-header__logo--ws">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype govuk-header__logotype--ws">
            <img aria-hidden="true" src="/dit/dit-logo.png" srcset="/dit/dit-logo@2x.png 2x" alt="Department for International Trade logo">
            <span class="govuk-visually-hidden">Department for International Trade</span>
          </span>
        </a>
      </div>
      <div class="govuk-header__content">
        <a href="/" class="govuk-header__link govuk-header__link--ws govuk-header__link--service-name govuk-header__link--service-name--ws">
          Design history
        </a>
        <div class="app-site-search govuk-!-display-none-print" data-module="app-site-search" data-search-index="/search.json">
          <label class="govuk-visually-hidden" for="app-site-search__input">Search site</label>
          <a class="app-site-search__link govuk-link-no-visited" href="/sitemap">Sitemap</a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  {{ content }}
  <div class="govuk-grid-row">
    {# Paginate posts if front matter includes the pagination key #}
    {% if pagination %}
      <section class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          {{ posts.title or app.posts.title or "Posts" }}
        </h2>
        {{ appDocumentList({
          classes: "app-document-list--large",
          items: pagination.items
        }) }}
        {{ appPagination({
          previous: {
            text: "Previous",
            href: pagination.href.previous
          } if pagination.href.previous,
          next: {
            text: "Next",
            href: pagination.href.next
          } if pagination.href.next,
          selected: pagination.pageNumber,
          items: pagination.hrefs
        }) }}
      </section>
      {% if related.sections[0].items | length > 0 %}
        <div class="govuk-grid-column-one-third">
          {{ xGovukRelatedNavigation(related) }}
        </div>
      {% endif %}
    {# List sections (pages whose parent is `Home`) if homepage has no pagination key set #}
    {% elif eleventyNavigation.key == "Home" %}
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          {{ sections.title or app.sections.title or "Services" }}
        </h2>
      </div>
      {% for item in collections.all | eleventyNavigation("Home") %}
        <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
            <a href="{{ item.url | url | pretty }}">{{ item.title }}</a>
          </h3>
          <p class="govuk-body">{{ item.excerpt }}</p>
        </section>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
