@import "govuk-frontend/govuk/base";
@import "govuk-frontend/govuk/core/all";
@import "../_components/all";

.govuk-inset-text {
  background-color: govuk-colour("light-grey");
  border-left-color: govuk-colour("blue");
}

.govuk-header {
  background: govuk-colour("white");
  color: govuk-colour("black");
}

.govuk-header__logo--ws {
    width: 20%;
}

.govuk-header__container {
  border-bottom: 5px solid #cf102d;
  margin-bottom: 0;
  padding: 13px 0 5px;
}

.govuk-header__content {
    margin-top: 10px;
    width: 80%;
}

.govuk-header__link--ws:link, .govuk-header__link--ws:visited {
    color: govuk-colour("black");
}

.app-site-search__hint, .app-site-search__input {
  border: 2px solid govuk-colour("black");
}
